
<div class="container">
  <div class="row align-items-center">
    <div class="col-6 mx-auto">
      <div class="jumbotron">
        <p class="landing-title text-center">Startup Box</p>
        <form>
          <div class="form-group">
            <input type="email" class="form-control" id="startupSearch" placeholder="Search">
            <small id="searchDescription" class="form-text text-muted">Find the right place to invest</small>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>