<div class="container">
  <div class="row align-items-center" style="height:90vh";>
    <div class="col-6 mx-auto">
      <div class="jumbotron">
        <p class="landing-title text-center">Startup Box</p>
        <form>
          <div class="form-group">
            <input type="" class="form-control" id="startupSearch" placeholder="Melon Innovation">
            <small id="searchDescription" class="form-text text-muted">Encontre qualquer Startup</small>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>